.NotFound {
    text-align: center;
    width: 100vw;
    position: relative;
}

.NotFound-content {
    position: absolute;
    color: #f2f8f4;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.NotFound-img {
    background-image: url(../../assets/images/LOGO-GOLD.png);
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
}