.menu {
    padding-top: 150px;
    margin-bottom: 150px;
}
.h2Menu, .h1Menu {
    font-family: 'Edwardian Scr Alt ITC TT', 'Luxurious Script', 'Balletregular', sans-serif;
    color: #be9837;
    font-size: 3.5rem;
}

.h1Menu{
    font-size: 4rem;
    text-align: center;
}