/*
********************COLORS********************

#48330a Cafe noir
#be9837 Satin sheen gold
#f2f8f4 Mint Cream
#353c46 Charcoal
#4f6d7a Cadet
#212529 Dark (same as bootstrap)

**********************************************
*/

.socials {
    height: 40px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.footer {
    background: #212529;
    width: 100vw;
    color: #f2f8f4;
    overflow-x: hidden;
    animation: all 2 forwards ease-in;

}

@keyframes footerAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}