/*
********************COLORS********************

#48330a Cafe noir
#be9837 Satin sheen gold
#f2f8f4 Mint Cream
#353c46 Charcoal
#4f6d7a Cadet

**********************************************
*/

.socials {
    height: 75px;
}

.footer {
    min-height: 150px;
    background: #4f6d7a;
    width: 100vw;

}