/*
********************COLORS********************

#48330a Cafe noir
#be9837 Satin sheen gold
#f2f8f4 Mint Cream
#353c46 Charcoal
#4f6d7a Cadet
#212529 Dark (same as bootstrap)

**********************************************
*/

.socials {
    height: 75px;
}

.footer {
    min-height: 150px;
    background: #212529;
    width: 100vw;
    color: #f2f8f4;
    overflow-x: hidden;
    transition: all 1s ease;

}
