/*
********************COLORS********************

#48330a Cafe noir
#be9837 Satin sheen gold
#f2f8f4 Mint Cream
#353c46 Charcoal
#4f6d7a Cadet

**********************************************
*/
@import url('https://fonts.cdnfonts.com/css/edwardian-scr-alt-itc-tt');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #353c46;
    position: relative;
    color: #f2f8f4;
    overflow-x: hidden;
    min-height: 100vh;
}

.navlink:hover {
    background: #000;
}

.site {
    min-height: 100vh;
}



.test {
    padding-top: 100px;
    text-align: center;
}

h1, h2 {
        font-family: 'Edwardian Scr Alt ITC TT', sans-serif;
}