/*
********************COLORS********************
#48330a Cafe noir
#be9837 Satin sheen gold
#f2f8f4 Mint Cream
#353c46 Charcoal
#4f6d7a Cadet
#212529 Dark (same as bootstrap)
**********************************************
*/

/***********************************************
************************************************
 FONT FAM's -> Edwardian does not work on Safari
 ***********************************************/
@import url('https://fonts.cdnfonts.com/css/edwardian-scr-alt-itc-tt');

@font-face {
    font-family: 'Ballet';
    src: url('./font/Ballet-Regular-VariableFont_opsz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

@font-face {
    font-family: 'balletregular';
    src: url('./font/ballet-regular-variablefont_opsz-webfont.woff2') format('woff2'),
        url('./font/ballet-regular-variablefont_opsz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-margin {
    padding-top: 150px;
}

.App {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    min-height: 85vh;
}

body {
    background: #353c46;
    position: relative;
    color: #f2f8f4;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-item:hover {
    background: #f8f2f4;
}

.nav-link:hover {
    color: #be9837 !important;
}

.sub-btn {
    color: #be9837;
    border: 1px solid #be9837;
}

.form-border {
    border: 1px solid #be9837;
}

.sub-btn:hover {
    color: #be9837;
    background: #f2f8f4;
    border: 1px solid #f2f8f4;
}


.navlink:hover {
    background: #000;
}

.test {
    padding-top: 100px;
    text-align: center;
}

h1 {
    font-family: 'Edwardian Scr Alt ITC TT', 'Luxurious Script', 'Balletregular', sans-serif;
    color: #be9837;
    font-size: 4rem;

}

h2 {
    font-family: 'Edwardian Scr Alt ITC TT', 'Luxurious Script', 'Balletregular', sans-serif;
    color: #be9837;
    font-size: 3rem;
}

@media screen and (max-width: 700px) {
    #ul-account {
        flex-direction: column;
    }

}

/* TABS/USERS--------------------*/
.card .border-info .mb-3 {
    max-width: 20rem;
}


.tabs .tabs-pane {
    margin: 1%;
    cursor: pointer;
    list-style: none;
}


.tabs ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}