/*
********************COLORS********************

#48330a Cafe noir
#be9837 Satin sheen gold
#f2f8f4 Mint Cream
#353c46 Charcoal
#4f6d7a Cadet

**********************************************
*/
@import url('https://fonts.cdnfonts.com/css/edwardian-scr-alt-itc-tt');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-margin {
    padding-top: 150px;
    min-height: 60vh;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

body {
    background: #353c46;
    position: relative;
    color: #f2f8f4;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-item:hover {
    background: #f8f2f4;
}

.nav-link:hover {
    color: #be9837 !important;
}

.sub-btn {
    color: #be9837;
    border: 1px solid #be9837;
}

.form-border {
    border: 1px solid #be9837;
}

.sub-btn:hover {
    color: #be9837;
    background: #f2f8f4;
    border: 1px solid #f2f8f4;
}


.navlink:hover {
    background: #000;
}

.site {
    min-height: 100vh;
}



.test {
    padding-top: 100px;
    text-align: center;
}

h1 {
    font-family: 'Edwardian Scr Alt ITC TT', sans-serif;
    color: #be9837;
    font-size: 4rem;

}

h2 {
    font-family: 'Edwardian Scr Alt ITC TT', sans-serif;
    color: #be9837;
    font-size: 3rem;
}

/* TABS/USERS--------------------*/
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card .border-info .mb-3 {
    max-width: 20rem;
}

.card-container .card {
    margin: 0 1%;
}

div.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs .tabs-pane {
    margin: 1%;
    padding-bottom: 0.5%;
    cursor: pointer;
    list-style: none;
}

.tabs .tabs-pane span {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.tabs .tabs-pane.active {
    border-bottom: 1px solid #f2f8f4;
}

.tab-content {
    width: 50%;
    margin: auto;
}


form fieldset {
    border: 1px solid;
    padding: 5%;
    border-radius: 5px;
}

form fieldset legend {
    padding: 0 1%;
    width: auto;
}

.tabs ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}